build --java_language_version=17 --javacopt=-source --javacopt=8 --javacopt=-target --javacopt=8 --incompatible_struct_has_no_methods
test  --java_language_version=17 --javacopt=-source --javacopt=8 --javacopt=-target --javacopt=8 --java_runtime_version=17 --incompatible_struct_has_no_methods

# delete testdata package needed for bazel integration tests
build --deleted_packages=//aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/testdata
query --deleted_packages=//aspect/testing/tests/src/com/google/idea/blaze/aspect/integration/testdata
