bazel-*
!bazel-buildifier
.project
.ijwb/
.aswb/
.clwb/
.idea/

# Generated bazel files in tests
clwb/tests/projects/**/MODULE.bazel.lock
clwb/tests/projects/**/bazel-*

# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
