name: Recheck

on:
  issue_comment:
    types: [created]

permissions:
  contents: write
  pull-requests: write

jobs:
  recheck:
    if: github.event.issue.pull_request
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Scripts
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github/scripts

      - name: Create Empty Commit
        uses: actions/github-script@v8
        with:
          script: await require('./.github/scripts/recheck.js')(github, context, core)
