name: Recheck

on:
  issue_comment:
    types: [created]

permissions:
  contents: write
  pull-requests: write

jobs:
  recheck:
    if: github.event.issue.pull_request
    runs-on: ubuntu-latest

    steps:
      - name: Create Empty Commit
        uses: actions/github-script@v7
        with:
          script: |
            // check the comment body for '/recheck'
            const commentBody = context.payload.comment.body.trim();
            if (commentBody !== '/recheck') {
              console.log('Comment is not /recheck. Skipping.');
              return;
            }

            // check permissions of the comment author
            const association = context.payload.comment.author_association;
            const allowed = ['OWNER', 'MEMBER', 'COLLABORATOR'];
            if (!allowed.includes(association)) {
               console.log(`User association ${association} is not allowed. Skipping.`);
               return;
            }

            const { owner, repo } = context.repo;
            const prNumber = context.issue.number;

            // get the current PR
            const { data: pr } = await github.rest.pulls.get({
              owner,
              repo,
              pull_number: prNumber,
            });
            
            // get the current commit
            const { data: currentCommit } = await github.rest.git.getCommit({
              owner,
              repo,
              commit_sha: pr.head.sha,
            });
            
            // create the empty commit
            const { data: newCommit } = await github.rest.git.createCommit({
              owner,
              repo,
              message: "Triggering CI (empty commit)",
              tree: currentCommit.tree.sha,
              parents: [pr.head.sha],
            });

            // update the branch reference
            await github.rest.git.updateRef({
              owner,
              repo,
              ref: `heads/${pr.head.ref}`,
              sha: newCommit.sha,
            });
            
            // add reaction to comment
            await github.rest.reactions.createForIssueComment({
              owner,
              repo,
              comment_id: context.payload.comment.id,
              content: 'eyes',
            });
