name: Remove PR Labels

on:
  pull_request_target:
    types: ["closed"]

jobs:
  remove-label:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions-ecosystem/action-remove-labels@v1
      with:
        labels: |
          awaiting-review
